.res-circle {
    width: 60%;
    border-radius: 50%;
    line-height: 1;
    position: relative;
    max-height: 500px;
    max-width: 500px;
}
.res-circle:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-txt {
    position: absolute;
    bottom: 45%;
    width: 100%;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
}

.Eightball-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}